/* https://scroll-driven-animations.style/ */

* {margin: 0; padding: 0;
  font-family: 'Pretendard-Regular';color:#a29bfe;
}
body {font-family: sans-serif;background-image: url('./images/zxcv.png');cursor: url('./images/cur1.png'), default;}
li {list-style: none;}
a {text-decoration: none;}
img {border: 0;}
#header_Warp {
  background-image: url('./images/asdf.png');background-repeat:no-repeat; 
  background-size: cover;background-position: center center;}
#main_header {  
  width: 1000px; margin: 0 auto;
  height: 500px; position: relative;
}

#main_header > #title {
  position: absolute;
  left: 33px; top: 220px;
}

#title > * {font-family: 'DungGeunMo'; color: #5b4ed7;
  font-size: 48px;letter-spacing:2px;}

#title > h1 {display: inline-block;}

#title > h2 {font-size: 30.5px;letter-spacing:2px;}

#blink {
  animation: blink 1s infinite;
  font-size: 3rem;
}
@keyframes blink {to {opacity: 0;}}

#main_header > #main_lnb {
  position: absolute;
  right: 0; bottom: 10px;
}

#main_lnb > ul {overflow: hidden;}
#main_lnb > ul > li {float: left;}
#main_lnb > ul > li > a {
  display: block;
  padding: 8px 15px;
  border-bottom: 2px solid #a29bfe;font-weight: bold;
}
#main_lnb > ul > li > a:hover {
  background: #5b4ed7;
  color: #ffeaa7;font-weight: bold;cursor: url('./images/cur2.png'), auto;
}

#content{width: 1000px;margin: 0 auto;overflow: hidden;}

#content > #main_section {width: 780px;float: left;}
#content > #main_aside {width: 210px;float: right;}

#main_section > article.main_article {
  margin-bottom: 10px;padding: 35px 25px 40px 25px;border: 2px solid #a29bfe;
  border-radius: 20px;background-color: #fff;}
.main_article h1 {
  line-height: 40px;font-size: 35px;color: #5b4ed7; margin-bottom: 10px;
  font-family: 'DungGeunMo';letter-spacing:1.5px;}

.main_article p{font-weight: bold;font-size: 20px;line-height: 30px;}

#search_wrap{position: relative;}
#search{
  box-sizing: border-box;
  padding:3px;padding-left: 32px;margin:10px 0 5px 0;
  width: 210px;height: 40px; font-size: 20px;color: #5b4ed7;
  border: 2px solid #a29bfe;}
#search_wrap .fa-solid {position: absolute;top: 0px;left: 11px;}

#search:hover{border: 2px solid #5b4ed7;}
#search:focus{outline: 0.5px solid #5b4ed7;}

#side_title{
  text-align: center;font-size: 30px;margin-top: 10px; margin-bottom: 8px;
  color:#5b4ed7;font-weight: bold;
  font-family: 'DungGeunMo';letter-spacing:1.5px;
}

#content aside input[type=radio]{display: none;}
#content aside .tab_item{display: none;}
#content a {cursor: url('./images/cur2.png'), auto;}

#content aside input:nth-of-type(1):checked ~ div:nth-of-type(1) {display: block;}
#content aside input:nth-of-type(2):checked ~ div:nth-of-type(2) {display: block;}

section.buttons {overflow: hidden;}
section.buttons > label {
  display: block; float: left;
  width: 105px;height: 40px; line-height: 37px;text-align: center;font-size: 18px;
  box-sizing: border-box;border: 1px solid #a29bfe; color: #a29bfe;background-color: #fff;
}

section.buttons > label:hover{cursor: url('./images/cur2.png'), auto;}

#fst{border-radius: 8px 0 0 0;font-weight: bold;}
#snd{border-radius: 0 8px 0 0;font-weight: bold;}

input:nth-of-type(1):checked ~ section.buttons > label:nth-of-type(1) {background: #5b4ed7;color: #ffeaa7;}
input:nth-of-type(2):checked ~ section.buttons > label:nth-of-type(2) {background: #5b4ed7;color: #ffeaa7;}

.item{
  overflow: hidden;padding: 10px;
  border: 1px solid #a29bfe;font-size: 17px;
  border-top: none;background-color: #fff;
}

.tab_item li:last-child {border-radius: 0 0 8px 8px;}

.tab_item a {text-decoration: underline;}

.tumbnail{float: left;}
.tumbnail img {width: 45px;height: 45px;}

.description{float: left;margin-left: 10px;padding-top: 3px;}

.description strong {
  display: block; width: 120px;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}

.description p {display: block; width: 120px;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}

#main_footer {
  margin: 0 auto; background-color: #5b4ed7;
  padding: 30px;text-align: center;}

#main_footer * {color: #fff;}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  }

html {
  scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

#progress {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 0.7em;
  background: #5b4ed7;

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
}


/*야간모드 버튼*/
#btnWrap{position: absolute;right: 5px;top:10px;}
.toggle--label:hover{cursor: url('./images/cur2.png'), auto;}

:root {
  /** sunny side **/
  --blue-border: #2893fd;
  --blue-color: #74b9ff;
  --yellow-background: #fdcb6e;
  --yellow-border: #ffedcd;
  /** dark side **/
  --indigo-border: #5d6baa;
  --indigo-color: #a29bfe;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.toggle--checkbox {
  display: none;
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 30px;
  width: 2.5px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 2.5px;
  height: 2.5px;
  top: -12.5px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 2.5px;
  height: 2.5px;
  left: -15px;
  top: 10px;
}
.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 100px;
  height: 50px;
  background: var(--blue-color);
  border-radius: 50px;
  border: 2.5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}
.toggle--label-background {
  width: 5px;
  height: 2.5px;
  border-radius: 2.5px;
  position: relative;
  background: var(--white);
  left: 67.5px;
  top: 22.5px;
  transition: all 150ms ease-in;
}
.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -2.5px;
  width: 20px;
  height: 2.5px;
  border-radius: 2.5px;
  background: var(--white);
  left: -10px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 2.5px;
  width: 20px;
  height: 2.5px;
  border-radius: 2.5px;
  background: var(--white);
  left: -5px;
  transition: all 150ms ease-in;
}
.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 41px;
  height: 41px;
  border: 2.5px solid var(--yellow-border);
  top: 2.5px;
  left: 2.5px;
  position: absolute;
  border-radius: 41px;
  background: var(--yellow-background);
}
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -6.5px 0 0 1.25px, var(--gray-dots) -12px 7px 0 -1.25px;
  left: 71.5px;
  top: 11.5px;
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 2.5px;
  }
  60% {
    left: 2.5px;
    width: 56px;
  }
  100% {
    left: 52px;
    width: 41px;
  }
}
@keyframes reverse {
  0% {
    left: 52px;
    width: 41px;
  }
  60% {
    left: 36.5px;
    width: 56px;
  }
  100% {
    left: 2.5px;
  }
}

/*맨 위로 버튼 속성 설정*/
#goto-top {
  position: fixed;right: 10px;bottom: 20px;width: 50px;height: 50px;
  border: 2px solid #5b4ed7;background-color: #fff;border-radius: 50%;}

#goto-top:hover{cursor: url('./images/cur2.png'), auto;}

#goto-top img {width: 35px;margin: 11px 0px 0px 7px;}