/* https://scroll-driven-animations.style/ */

* {margin: 0; padding: 0;
  font-family: 'Pretendard-Regular'
}
body {font-family: sans-serif;background-image: url('./images/zxcv.png');}
li {list-style: none;}
a {text-decoration: none; color: #a29bfe;}
img {border: 0;}
#header_Warp {
  background-image: url('./images/asdf.png');background-repeat:no-repeat; 
  background-size: cover;background-position: center center;}
#main_header {  
  width: 1000px; margin: 0 auto;
  height: 500px; position: relative;
}

#main_header > #title {
  position: absolute; color: #6c5ce7;
  left: 33px; top: 220px;
}

#title > * {font-family: 'DungGeunMo'; 
  font-size: 48px;letter-spacing:2px;}

#title > h1 {display: inline-block;}

#title > h2 {font-size: 30.5px;letter-spacing:2px;}

#blink {
  animation: blink 1s infinite;
  font-size: 3rem;
}
@keyframes blink {to {opacity: 0;}}

#main_header > #main_gnb {
  position: absolute;
  right: 0; top: 15px;
}

#main_gnb > ul {overflow: hidden;}
#main_gnb > ul > li {float: left;}
#main_gnb > ul > li > a {
  display: block;
  padding: 2px 10px;
  border-bottom: 2px solid #a29bfe;font-weight: bold;
}
#main_gnb > ul > li > a:hover {
  background: #6c5ce7;
  color: #ffeaa7;font-weight: bold;
}

#main_header > #main_lnb {
  position: absolute;
  right: 0; bottom: 10px;
}

#main_lnb > ul {overflow: hidden;}
#main_lnb > ul > li {float: left;}
#main_lnb > ul > li > a {
  display: block;
  padding: 8px 15px;
  border-bottom: 2px solid #a29bfe;font-weight: bold;
}
#main_lnb > ul > li > a:hover {
  background: #6c5ce7;
  color: #ffeaa7;font-weight: bold;
}

#content{width: 1000px;margin: 0 auto;overflow: hidden;}

#content > #main_section {width: 780px;float: left;}
#content > #main_aside {width: 210px;float: right;}

#main_section > article.main_article {
  margin-bottom: 10px;padding: 40px 25px;border: 2px solid #a29bfe;
  border-radius: 20px;background-color: #fff;}
.main_article h1 {
  line-height: 40px;font-size: 35px;color: #6c5ce7; margin-bottom: 10px;
  font-family: 'DungGeunMo';letter-spacing:1.5px;}

.main_article p{color:#a29bfe;font-weight: bold;font-size: 20px;line-height: 30px;}

#search_wrap{position: relative;}
#search{
  box-sizing: border-box;
  padding:3px;padding-left: 32px;margin:5px 0 10px 0;
  width: 210px;font-size: 20px;
  border: 2px solid #a29bfe;}
#search_wrap .fa-solid {position: absolute;top: 0px;left: 11px;}

#search:hover{border: 2px solid #6c5ce7;}
#search:focus{outline: 0.5px solid #6c5ce7;}

#side_title{
  text-align: center;font-size: 30px;margin-top: 10px; margin-bottom: 8px;
  color:#6c5ce7;font-weight: bold;
  font-family: 'DungGeunMo';letter-spacing:1.5px;
}

#content aside input[type=radio]{display: none;}
#content aside .tab_item{display: none;}
/* content aside input중 첫번째 타입이 체크 되면 밑에 있는 div 태그중 첫번째의 display 변경 */
#content aside input:nth-of-type(1):checked ~ div:nth-of-type(1) {display: block;}
#content aside input:nth-of-type(2):checked ~ div:nth-of-type(2) {display: block;}

section.buttons {overflow: hidden;}
section.buttons > label {
  display: block; float: left;
  width: 105px;height: 35px; line-height: 33px;text-align: center;
  box-sizing: border-box;border: 1px solid #a29bfe; color: #a29bfe;background-color: #fff;
}

section.buttons > label:hover{cursor: pointer;}

#fst{border-radius: 8px 0 0 0;font-weight: bold;}
#snd{border-radius: 0 8px 0 0;font-weight: bold;}

input:nth-of-type(1):checked ~ section.buttons > label:nth-of-type(1) {background: #6c5ce7;color: #ffeaa7;}
input:nth-of-type(2):checked ~ section.buttons > label:nth-of-type(2) {background: #6c5ce7;color: #ffeaa7;}

.item{
  overflow: hidden;padding: 10px;
  border: 1px solid #a29bfe;
  border-top: none;background-color: #fff;
}

.tab_item li:last-child {border-radius: 0 0 8px 8px;}

.tumbnail{float: left;}
.tumbnail img {width: 45px;height: 45px;}

.description{float: left;margin-left: 10px;}

.description > strong {
  display: block; width: 120px;white-space: nowrap;
  overflow: hidden;text-overflow: ellipsis;}

#main_footer {
  margin: 0 auto; background-color: #6c5ce7;
  padding: 30px;text-align: center;}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  }

html {
  scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

#progress {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 0.7em;
  background: #6c5ce7;

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
}